html,
button,
input,
select,
textarea {
  color: #fff;
  background: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
a {
  text-decoration: none;
}

/* Animations */
@-webkit-keyframes fadeInHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes fadeInHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes fadeOutHalf {
  0% {
    opacity:  0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutHalf {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Scaffold */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  height: 742px;
  margin-left: -512px;
  margin-top: -371px;
  overflow: hidden;
}

/* Image layers */
.image-layers,
.image-layer {
  position: absolute;
  top: 50%;
  left: 50%;
}
.image-layers {
  width: 1424px;
  height: 1016px;
  margin-left: -712px;
  margin-top: -508px;
}
#past {
  width: 1024px;
  height: 742px;
  margin-left: -512px;
  margin-top: -371px; 
}
#present {
  width: 1224px;
  height: 816px;
  margin-left: -612px;
  margin-top: -408px;
  cursor: move;
  opacity: 0.5;
  -webkit-animation: fadeInHalf 5s;
  animation: fadeInHalf 5s;
}

/* Canvas Layers */
.canvas-layers {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 742px;
  display: none;
}
.canvas-mask,
.canvas-masked {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 742px;
  opacity: 0;
  z-index: 0;
  cursor: crosshair;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.canvas-mask.active {
  opacity: 0.7;
  z-index: 10;
}
.canvas-masked.active {
  opacity: 1;
  z-index: 10;
}

/* Controls */
.controls {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0,0,0,0.4);
  z-index: 100;
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.ui-slider-horizontal {
  height: 40px;
  width: 90%;
  margin: 16px auto 0;
}
.ui-slider .ui-slider-handle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: rgba(255,255,255,0.6);
  -webkit-animation: slideInLeft 3s;
  animation: slideInLeft 3s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;  
}

/* Mask mode */
.mask .mask-mode-button.active {
  opacity: 0;
}
.mask .canvas-layers {
  display: block;
}

/* Buttons */
.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.button {
  font-size: 1em;
  padding: 1em 2em;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: none;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.button.active {
  display: inline-block;
  z-index: 1000;
}
.button:hover {
  background: rgba(0,0,0,0.9);
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


@media only screen and (min-width: 35em) {
  
}