html,
button,
select,
textarea {
  color: #fff;
  background: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
a {
  text-decoration: none;
}

/* Animations */
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeInHalf {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}
@keyframes fadeInHalf {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}
@-webkit-keyframes fadeOutHalf {
  0% { opacity:  0.5; }
  100% { opacity: 0; }
}
@keyframes fadeOutHalf {
  0% { opacity: 0.5; }
  100% { opacity: 0; }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Scaffold */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  height: 768px;
  margin-left: -512px;
  margin-top: -384px;
  overflow: hidden;
}

/* Intro steps */
.intro-steps,
.step {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.step {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 201;
}
.image-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.step.active {
  opacity: 1;
  z-index: 202;
}
.alert {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 50%;
  left: 50%;  
  width: 500px;
  margin-left: -250px;
  margin-top: -125px;
  border-radius: 6px;
  background: #dadfe0;
  color: #222;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
.alert .btn-group {
  border-top: 1px solid #9b9e9e;
}
.step.active .alert {
  -webkit-animation: fadeInDown 0.4s;
  animation: fadeInDown 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.btn-group .btn {
  color: #157efb;
  font-weight: normal;
  display: block;
  float: left;
  width: 50%;
  border-left: 1px solid #9b9e9e;
  margin-left: -1px;
  padding: 1em 0;
}
.btn-group .btn:hover {
  color: #519efa;
}
.btn-group .btn:first-child {
  border-left: none;
  margin-left: 0;
}
#step-location {
  background: url(../img/location_alert_bg.jpg) center no-repeat;
  background-size: cover;
}
#step-alert {
  background: url(../img/location_map.jpg) center no-repeat;
  background-size: cover;
}
#step-alert .alert {
  margin-top: -300px;
}

/* Caption */
.caption {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 210;
  display: none;
  background: rgba(0,0,0,0.7);
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.4s;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 60px;
}
.caption h2 {
  font-size: 2em;
  margin-top: 200px;  
}
.caption h4 {
  font-size: 1.6em;
  color: #ccc; 
}
.caption .close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 210;
  display: block;
}

/* Image layers */
.image-layers,
.image-layer {
  position: absolute;
  top: 50%;
  left: 50%;
}
.image-layers {
  width: 1024px;
  height: 768px;
  margin-left: -512px;
  margin-top: -384px;
}
.image-layer.fixed-layer {
  width: 1024px;
  height: 768px;
  margin-left: -512px;
  margin-top: -384px;
}
.image-layer.draggable {
  width: 1224px;
  height: 816px;
  margin-left: -612px;
  margin-top: -408px;
  cursor: move;
  opacity: 0.5;  
}
.skin .image-layer.draggable {
  -webkit-animation: fadeInHalf 5s;
  animation: fadeInHalf 5s;
}
#webcam-image-layers,
.camera #image-layers,
.camera-mask #image-layers {
  display: none;
}
.camera #webcam-image-layers,
.camera-mask #webcam-image-layers {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Canvas Layers */
.canvas-layers {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  display: none;
}
.canvas-mask,
.canvas-masked {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  opacity: 0;
  z-index: 0;
  cursor: crosshair;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.canvas-mask.active {
  opacity: 0.7;
  z-index: 10;
}
.canvas-masked.active {
  opacity: 1;
  z-index: 10;
}

/* Controls */
.controls {
  position: absolute;
  width: 100%;
  height: 54px;
  left: 0;
  bottom: 20px;
  opacity: 0;
  z-index: 100;
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.ui-slider-horizontal {
  height: 54px;
  width: 724px;
  margin: 0 auto;
  background: url(../img/slider_bar.png) center no-repeat;
}
.ui-slider .ui-slider-handle {
  width: 54px;
  height: 54px;
  background: url(../img/slider_btn.png) center no-repeat;
  
}
.skin .controls {
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.skin .ui-slider .ui-slider-handle {
  -webkit-animation: slideInLeft 3s;
  animation: slideInLeft 3s;
}

/* Mask mode */
.mask .mask-mode-button.active,
.mask .camera-mask-toggle-button.active {
  display: none;
}
.mask #canvas-layers {
  display: block;
}

/* Camera mode */
.camera .mask-mode-button.active,
.camera .mask-toggle-button.active,
.camera .camera-mask-toggle-button.active {
  display: none;
}

/* Camera mask mode */
.camera-mask #webcam-canvas-layers {
  display: block;
}
.camera-mask .mask-mode-button.active,
.camera-mask .mask-toggle-button.active {
  display: none;
}

/* Buttons */
.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.buttons-left {
  right: auto;
  left: 20px;
}
.button {
  font-size: 1em;
  height: 76px;
  line-height: 76px;
  padding: 0 2em;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: none;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  margin-left: 0.5em;
  vertical-align: bottom;
}
.image-button {
  padding: 0;
  background: none;
}
.button.active {
  display: inline-block;
  z-index: 1000;
}
.button:hover {
  background: rgba(0,0,0,0.9);
}
.image-button:hover {
  background: none;
}

.share {  
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: none;
  background: rgba(0,0,0,0.7);
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.4s;
}
.share .alert {
  margin-top: -200px;
  -webkit-animation: fadeInDown 0.4s;
  animation: fadeInDown 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.share input {
  margin-top: 0.4em;
  padding: 0.3em 0.6em;
  border: none;
  background: transparent;
  text-align: center;
}
.share input.big {
  font-size: 1.2em;
}
.share input:focus {
  background: #ecf1f1;
  border: none;
  outline: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


@media only screen and (min-width: 35em) {
  
}